{% extends 'portfolio/base.html' %}

{% block content %}

<h3 class="my-4 font-weight-bolder">Profile</h3>
<div class="mb-5">
    <div class="row">
        <div class="col-md-8">
            <p>{{ profile_data.introduction|linebreaksbr }}</p>
        </div>
        <div class="col-md-4">
            <div class="card text-center px-5 py-4 bg-white">
                <div class="avatar mb-3">
                    <img src="{{ profile_data.subimage.url }}" alt="" class="card-img-top rounded-circle">
                </div>
                <h5 class="font-weight-bolder">{{ profile_data.name }}</h5>
                <p class="mb-3 small text-center">{{ profile_data.job|linebreaksbr }}</p>
                <div class="d-flex justify-content-around">
                    {% if profile_data.github %}
                        <a
                            href="{{ profile_data.github }}"
                            target="_blank"
                            class="btn btn-dark rounded-circle"
                            style="background-color: #333333;"
                        ><i class="fab fa-github"></i></a>
                    {% endif %}
                    {% if profile_data.twitter %}
                        <a
                            href="{{ profile_data.twitter }}"
                            target="_blank"
                            class="btn btn-info rounded-circle"
                            style="background-color: #55acee;"
                        ><i class="fab fa-twitter"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="my-4 font-weight-bolder">Experience</h3>
<div class="mb-5">
    {% for experience in experience_data %}
        <div class="d-flex justify-content-between">
            <h5 class="mb-3">{{ experience.occupation }}<span class="small text-secondary"> - {{ experience.company }}</span> </h5>
            <p class="mb-1">{{ experience.period }}</p>
        </div>
        <p class="mb-1">{{ experience.description|linebreaksbr }}</p>
        <hr>
    {% endfor %}
</div>

<h3 class="my-4 font-weight-bolder">Education</h3>
<div class="mb-5">
    {% for education in education_data %}
        <div class="d-flex justify-content-between">
            <h5>{{ education.course }}<span class="small text-secondary"> - {{ education.school }}</span> </h5>
            <p class="mb-1">{{ education.period }}</p>
        </div>
        <p>{{ education.place }}</p>
        <hr>
    {% endfor %}
</div>

<h3 class="my-4 font-weight-bolder">Skills</h3>
<div class="mb-5">
    <div class="row">
        {% for skill in skill_data %}
            <div class="col-6 col-md-3">
                <h5 class="mb-0">{{ skill.name }}<span class="small secondary"> - {{ skill.level }}</span> </h5>
                <div class="d-flex flex-row">
                    <div class="star-rating">
                        <div class="star-rating-front" style="width: {{ skill.percentage }}%">★★★★★</div>
                        <div class="star-rating-back">★★★★★</div>
                    </div>
                </div>
                <p></p>
            </div>
        {% endfor %}
    </div>
    <hr>
</div>

<h3 class="my-4 font-weight-bolder">Hobbies</h3>
<div class="mb-5">
    <div class="row">
        {% for hobby in hobby_data %}
            <div class="col-6 col-md-3">
              <div class="w-50 h-50 mb-5 ml-5">
                <img src="{{ hobby.image.url }}" class="img-fluid mb-2" alt="">
                <h5 class="text-center">{{ hobby.name }}</h5>
              </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
