{% extends 'portfolio/base.html' %}

{% block content %}

<h3 class="mb-4">{{ work_data.title }}</h3>
<div class="card top mb-4">
    <img src="{{ work_data.image.url }}" alt="">
</div>

<div class="row">
    <div class="col-sm-4 mb-4">
        <h4 class="mb-3">INFORMATION</h4>
        <p>
            <i class="fas fa-laptop-code mr-2"></i>
            <span class="font-weight-bolder">SKILLS:</span>
            {{ work_data.skill }}
        </p>
        <hr>
        <p>
            <i class="fab fa-github mr-2"></i>
            <span class="font-weight-bolder">GITHUB:</span>
            {% if work_data.github %}
                <a href="{{ work_data.github }}" target="_blank" class="link-color">Click Here</a>
            {% else %}
                Private
            {% endif %}
        </p>
        <hr>
        {% if work_data.link %}
          <p>
            <i class="fas fa-link mr-2"></i>
            <span class="font-weight-bolder">Link:</span>
            <a href="{{ work_data.link }}" target="_blank" class="link-color">Click Here</a>
          </p>
          <hr>
        {% endif %}
        <p>
            <i class="far fa-calendar-alt mr-2"></i>
            <span class="font-weight-bolder">CREATED:</span>
            {{ work_data.created }}
        </p>
        <hr>
    </div>
    <div class="col-sm-8 mb-5">
        <h4 class="mb-3">PROJECT DESCRIPTION</h4>
        <p>{{ work_data.description|linebreaksbr }}</p>
    </div>
</div>
{% endblock %}
